<div
  id="super-admin-dashboard"
  data-current-user-email="<%= current_user.email %>"
  data-active-users="<%= @active_users_count %>">
</div>

<%= vite_javascript_tag "super_admin_dashboard.jsx" %>