<%= content_for :title, "Evaluate Attempt" %>

<div
  id="teacher-evaluate-attempt-root"
  data-props="<%= json_escape({
                                student_name: @attempt.user.name,
                                test_title: @test.title,
                                submit_url: teacher_course_test_attempt_path(
                                  @course,
                                  @test,
                                  @attempt
                                ),
                                answers: @attempt.answers.map do |answer|
                                  {
                                    id: answer.id,
                                    question_content: answer.question.content,
                                    auto_check: answer.question.auto_check?,
                                    student_answer: answer.text_answer,
                                    obtained_marks: answer.obtained_marks,
                                    max_marks: answer.question.marks
                                  }
                                end
                              }.to_json) %>">
</div>

<%= vite_javascript_tag "teacher_evaluate_attempt.jsx" %>