<%= vite_react_refresh_tag %>
<%= vite_client_tag %>
<%= vite_javascript_tag "ct_marks.jsx" %>

<%
      attempts_data =
        @attempts.map do |attempt|
              {
                id: attempt.id,
                test_title: attempt.test.title,
                course_title: attempt.test.course.title,
                semester: attempt.test.semester,
                status: attempt.status,
                obtained_marks: attempt.total_marks_obtained,
                total_marks: attempt.test.total_marks,
                percentage: attempt.percentage.round(2),
                submitted_at:
                  attempt.submitted_at&.strftime("%B %d, %Y %I:%M %p")
              }
        end
%>

<div id="ct-marks-root"></div>

<script id="ct-marks-data" type="application/json">
  <%= raw(attempts_data.to_json) %>
</script>