<%= content_for :title, "Available Tests" %>

<div
      id="student-tests-root"
      data-props="<%= json_escape(
                        {
                          tests: @tests.map do |test|
                                {
                                  id: test.id,
                                  title: test.title,
                                  start_time: test.start_time&.strftime('%b %d, %Y • %I:%M %p'),
                                  end_time: test.end_time&.strftime('%b %d, %Y • %I:%M %p'),
                                  duration_minutes: test.duration_minutes,
                                  total_marks: test.total_marks,
                                  course: {
                                    id: test.course.id,
                                    title: test.course.title
                                  },
                                  url: course_test_path(test.course, test)
                                }
                          end
                        }.to_json
                      ) %>"
></div>

<%= vite_javascript_tag "student-tests.jsx" %>