<%= vite_react_refresh_tag %>
<%= vite_client_tag %>
<%= vite_javascript_tag "student-test-show.jsx" %>

<%
  test_payload = {
    id: @test.id,
    title: @test.title,
    description: @test.description,
    course_title: @test.course.title,
    duration_minutes: @test.duration_minutes,
    total_marks: @test.total_marks,
    start_time: @test.start_time&.strftime("%B %d, %Y • %I:%M %p"),
    end_time: @test.end_time&.strftime("%B %d, %Y • %I:%M %p"),
    start_path: start_course_test_path(@course, @test),
    csrf_token: form_authenticity_token
  }
%>

<div
  id="student-test-show-root"
  data-test='<%= json_escape(test_payload.to_json) %>'>
</div>